<h2>Manage Assessments</h2>

<div class="container-fluid">
	<div class="row">

		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-8 list">
					<strong>Assessment</strong>
				</div>

				<div class="col-sm-4 list">
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 list">
					CNA
				</div>

				<div class="col-sm-4 list">
					<button type="button" class="btn"><%= link_to image_tag("edit.png", class:"icon"), admin_views_assign_path %></button>
					<button type="button" class="btn"><%= image_tag("trash.png", class:"icon")%></button>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 list">
					CNA- Home Healthcare
				</div>

				<div class="col-sm-4 list">
					<button type="button" class="btn"><%= image_tag("edit.png", class:"icon")%></button>
					<button type="button" class="btn"><%= image_tag("trash.png", class:"icon")%></button>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 list">
					RN
				</div>

				<div class="col-sm-4 list">
					<button type="button" class="btn"><%= image_tag("edit.png", class:"icon")%></button>
					<button type="button" class="btn"><%= image_tag("trash.png", class:"icon")%></button>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 list">
					MD
				</div>

				<div class="col-sm-4 list">
					<button type="button" class="btn"><%= image_tag("edit.png", class:"icon")%></button>
					<button type="button" class="btn"><%= image_tag("trash.png", class:"icon")%></button>
				</div>
			</div>
		</div>

	</div>
</div>
